{% extends 'base1.html' %}

{% block content %}

    <div class="container">
        <h2>Chỉnh sửa tiền lương</h2>
        <form method="post" class="employee-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="ma_luong">Mã Lương</label>
                <input type="text" id="ma_luong" name="ma_luong">
            </div>
            <div class="form-group">
                <label for="ho_va_ten">Họ Và Tên</label>
                <input type="text" id="ho_va_ten" name="ho_va_ten">
            </div>
            <!-- Thêm các trường mới vào -->
            <div class="form-group">
                <label for="luong_co_ban">Lương Cơ Bản</label>
                <input type="text" id="luong_co_ban" name="luong_co_ban">
            </div>

            <div class="form-group">
                <label for="phong_ban">Phòng Ban</label>
                <input type="text" id="phong_ban" name="phong_ban">
            </div>

            <div class="form-group">
                <label for="so_ngay_cong">Số Ngày Công</label>
                <input type="text" id="so_ngay_cong" name="so_ngay_cong">
            </div>

            <div class="form-group">
                <label for="chuc_vu">Chức Vụ</label>
                <input type="date" id="chuc_vu" name="chuc_vu">
            </div>

            <div class="form-group">
                <label for="thuong">Thưởng</label>
                <input type="text" id="thuong" name="thuong">
            </div>
            <div class="form-group">
                <label for="ngay_tra_luong">Ngày Trả Lương</label>
                <input type="date" id="ngay_tra_luong" name="ngay_tra_luong">
            </div>
            <div class="form-group">
                <label for="tong_luong">Tổng Lương</label>
                <input type="text" id="tong_luong" name="tong_luong">
            </div>


            <button type="submit" class="submit-btn">Cập nhật</button>
        </form>
    </div>

{% endblock %}